# The dssp_to_df sheet

In [1]:
# Importing key libaries
import numpy as np
import pandas as pd
import os

In [75]:
# loading data frame removing min amount of row and cols
# ["chain_num", "res_num", "AA", "ss", "kappa helix", "3-10 helix", "alpha helix", "pi helix", "geometrical bend", "chirality_1", "chirality_2" "beta bridge label", "beta bridge label", "BP1", "BP2",  "ACC", "N-H-->O", "O-->H-N", "N-H-->O", "O-->H-N", "TCO", "KAPPA", "ALPHA", "PHI", "PSI", "X-CA", "Y-CA","Z-CA" ]
col_lst = list(range(1, 5))
name_lst = ["chain", "res_num", "AA", "ss", "kappa helix", "3-10 helix", "alpha helix", 
            "pi helix", "geometrical bend", "chirality_1", "chirality_2" "beta bridge label",
            "beta bridge label", "BP1", "BP2",  "ACC", "N-H-->O", "O-->H-N", "N-H-->O",
            "O-->H-N", "TCO", "KAPPA", "ALPHA", "PHI", "PSI", "X-CA", "Y-CA","Z-CA" ]
name_lst = name_lst[0:len(col_lst)]
df = pd.read_csv("5b04.cif", sep = " ", skiprows = 38428, skipinitialspace = True, 
    header = None, usecols = col_lst, skipfooter = 1, engine='python')
df[2] = df[2].astype(int)
df = df.set_axis(name_lst, axis=1)
df.head()

  chain  res_num   AA ss
0     A        2  MET  .
1     A        3  GLN  H
2     A        4  ALA  H
3     A        5  ALA  H
4     A        6  ARG  H

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 4632-2130

 Directory of C:\Users\hwbst6\DataTime\dssp_to_df

20/03/2024  09:15    <DIR>          .
20/03/2024  09:15    <DIR>          ..
20/03/2024  09:07    <DIR>          .ipynb_checkpoints
20/03/2024  09:03         3,410,100 5bo4.cif
20/03/2024  09:15             1,961 dssp_to_df.ipynb
               2 File(s)      3,412,061 bytes
               3 Dir(s)  75,762,929,664 bytes free